@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);

.catImage{

  width:100%;
  border: 2pxs solid #EDDE45;
}

.catName{
  background:#EDDE45;
  font-size:18px;
  text-align: center;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #EA3556;
}

.pageContent{

  font-family: "comfortaa";
}
small{
  font-weight: bold;
}

h1{
  font-size: 55px;
  text-align: center;
  font-family: "comfortaa";
  margin-bottom: 45px;
}

body{
  background-color: #EDE5E2;
}

  .carousel {
    background: #FFF;
  }

  .carousel .item img {
    margin: 0 auto;
  }

  .bs-example {
    margin: 20px;
  }

  h1{
      text-align: center;
      font-weight: bold;
    }

  small{
    font-weight: bold;
  }
