@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.catImage{

  width:100%;
  border: 3px solid #EA3556;
  margin-bottom: 25px;
}

.catName{
  background:#ED146F;
  font-size:18px;
  text-align: center;
  margin-bottom: 1px;
}
.nav-pills{
  font-family: "comfortaa";
  font: #EDDE45;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #EA3556;
  font-family: "comfortaa";
}

.pageContent{

  font-family: "comfortaa";
}
small{
  font-weight: bold;
}

h1{
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  font-family: "comfortaa";
  margin-bottom: 25px;
  color: #ED146F;
  border-bottom:3px solid #EA3556;
  border-top:3px solid #EA3556;
}


h2{

  font-size: 22px;
  text-align: center;
  font-family: "open sans";
  font-weight: 600;
}

p{
  font-size: 14px;
  font-family: "open sans";
  font-weight: 600;
  text-align: justify;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 40px;

}

body{
  background-color: #EDE5E2;
  font-size: 14px;
  font-family: "open sans";
  font-weight: 400;

}

  .carousel {
    background: #EDE5E2;

  }

  .carousel .item img {
    margin: 0 auto;
  }

  .bs-example {
    margin: 20px;
  }

  .panel > .panel-heading{
    background-image: none;
    background-color: #ED146F !important;
    font-family: "open sans";
    font-weight: 600;

  }

  .panel > .panel-body{
    background-color:#EA3556;
    font-family: "open sans";
    font-weight: 400;
  }

  #submitButton {
  margin-top: 20px;
  text-align: center;
  background: #ED146F;
}
