<h2> The Gummy Bears </h2>

<p> Here in Gummy Bear World we are focused on creating the most wonderful gummy bears you could image. We have
  put endless hours into making new flavours over the last 10 years and we are so excited to finally be sharing
  them with you. We sell each gummybear individually so you can choose how many of each flavour you would like
  shipped to your front door.
</p> <!-- main page introduction-->


  <div id="carousel" class="carousel slide" data-ride="carousel">


    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="images/gummybearred.jpg" alt="Raspberry-Lemon Gummy Bear">
      </div>
      <div class="item">
        <img src="images/gummybearyellow.jpg" alt="Banana-Strawberry Gummy Bear">
      </div>
      <div class="item">
        <img src="images/gummybeargreen.jpg" alt="Green-Jello Gummy Bear">
      </div>
      <div class="item">
        <img src="images/gummybearpink.jpg" alt="Watermelon Gummy Bear ">
      </div>
      <div class="item">
        <img src="images/gummybearblue.jpg" alt="Blueberry Gummy Bear ">
      </div>
    </div>

    <a class="carousel-control left" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>
